.container {
    width: 100%;
    padding: 0 30px;
    margin-top: 12%;
    margin-left: -12%;
    font-size: 16px;
    font-family:  Helvetica, sans-serif;
}

.banner-content  span {
    color: #ff817e;
    display: block;
    font-family: Rufina,serif;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.banner-content h2 {
    color: #1e2528;
    font-size: 65px;
    line-height: 75px;
    margin-bottom: 25px;
}

.banner-content p {
    margin-bottom: 50px;
}

.banner-content .btn {
    background-color: #ff817e;
    border-radius: 0;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    line-height: .8;
    text-transform: uppercase;
    min-width: 170px;
    padding: 20px 15px;
}