.footer{
    width: 100%;
    background-color: #4F4F4F;
    padding: 30px 0;
    text-align: center;
}

h4, .about-me, .about-me span, .contacts {
    color: #DFDFDF !important;
}

.signature {
    font-family: 'Dancing Script', 'Snell Roundhand', cursive;
    font-weight: 700;
    font-size: 22px;
    color: #DFDFDF !important;
}

.imagem-rodape{
    float: left;
    text-align: left;
}

.contacts {
    margin-top: 20px;
    line-height: 32px;
}

.colunm {
    margin: 10px;
    color: #DFDFDF !important;
}

.credits-icon {
    margin: 5% 0 5% 0;
}